<div class="plan-odd">
  <table><tr>
    <td class="plan-title">プランテキスト</td>
  </tr>
  <tr>
    <td class="plan-price">
      ¥<span class="price">5,000</span
      ><span class="month"><br />月額<br /></span>
    </td>
  </tr>
  <tr>
    <td class="plan-membershipfee">入会金0円</td>
  </tr>
  <tr>
    <td class="plan-weekday">平日:9時～17時</td>
  </tr>
  <tr>
    <td class="plan-weekends">土日祝:利用ナシ</td>
  </tr>
  <tr>
    <td class="remarks">コアタイムでの利用に最適なプラン</td>
  </tr>
  </table>
</div>
<div class="plan-even">
  <table>
      <td class="plan-title">プランテキスト</td>
    </tr>
    <tr>
      <td class="plan-price">
        ¥<span class="price">5,000</span
        ><span class="month"><br />月額<br /></span>
      </td>
    </tr>
    <tr>
      <td class="plan-membershipfee">入会金0円</td>
    </tr>
    <tr>
      <td class="plan-weekday">平日:9時～17時</td>
    </tr>
    <tr>
      <td class="plan-weekends">土日祝:利用ナシ</td>
    </tr>
    <tr>
      <td class="remarks">コアタイムでの利用に最適なプラン</td>
    </tr>
  </table>
</div>

