@use "../../variables" as *;
table {
  width: 100%;
}
.plan {
  margin-bottom: 24px;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.plan:nth-child(even) {
  table tr td.plan-title {
    background-color: $orange_bistre;
    border-top: 5px;
    color: $white;
    padding: 20px 40px;
    border-top: solid 5px $orange_bistre;
    border-left: solid 5px $orange_bistre;
    border-right: solid 5px $orange_bistre;
  }
}

.plan-title {
  height: 69px;
  font-weight: 700;
  background-color: $orange_zorba;
  color: $white;
  font-size: $fontsize-l;
  padding: 20px 40px;
  line-height: 29px;
}

.plan-price {
  height: 142px;
  padding: 24px 48px;
  line-height: 28.96px;
  font-weight: 700;
  color: $orange_bistre;
  font-size: $fontsize-l;
  background-color: $gray_desertStorm;
  border: solid 1px $gray_gainsboro;

  span.price {
    line-height: 58px;
    font-size: $fontsize-xxl;
    padding-left: 4px;
  }
  span.month {
    line-height: 20px;
    font-weight: 400;
    font-size: $fontsize-s;
    color: $black;
  }
  br {
    height: 16px;
  }
}
.plan:nth-child(even) {
  table tr td.plan-price {
    border-left: solid 5px $orange_bistre;
    border-right: solid 5px $orange_bistre;
  }
}

.plan-membershipfee {
  height: 60px;
  line-height: 20px;
  font-weight: 400;
  padding: 20px 78px;
  background-color: $white;
  border: solid 1px $gray_gainsboro;
}
.plan:nth-child(even) {
  table tr td.plan-membershipfee {
    border-left: solid 5px $orange_bistre;
    border-right: solid 5px $orange_bistre;
  }
}
.plan-weekday {
  height: 60px;
  line-height: 20px;
  font-weight: 400;
  padding: 20px 56px;
  border: solid 1px $gray_gainsboro;
}
.plan:nth-child(even) {
  table tr td.plan-weekday {
    border-left: solid 5px $orange_bistre;
    border-right: solid 5px $orange_bistre;
  }
}
.plan-weekends {
  height: 60px;
  line-height: 20px;
  font-weight: 400;
  padding: 20px 54px;
  border: solid 1px $gray_gainsboro;
  .plan-even.plan-weekends:nth-child(2) {
    border-left: solid 5px $orange_bistre;
    border-right: solid 5px $orange_bistre;
  }
}
.plan:nth-child(even) {
  table tr td.plan-weekends {
    border-left: solid 5px $orange_bistre;
    border-right: solid 5px $orange_bistre;
  }
}
.remarks {
  height: 60px;
  line-height: 20px;
  font-weight: 400;
  padding: 20px 19px;
  border: solid 1px $gray_gainsboro;
}
.plan:nth-child(even) {
  table tr td.remarks {
    border-bottom: solid 5px $orange_bistre;
    border-left: solid 5px $orange_bistre;
    border-right: solid 5px $orange_bistre;
  }
}
