@use "../../variables" as *;
.card-img-top {
  position: relative;
  margin-bottom: 32.73px;
  &:hover {
    overflow: hidden;
    transform: scale(1.1);
  }
}

.card-img {
  overflow: hidden;
}

.card-body {
  padding: initial;
}

.card-imgframe {
  z-index: 9;
  position: absolute;
  top: 0;
  border-bottom: 150px solid transparent;
  border-left: 150px solid $white;
}

.title {
  position: absolute;
  margin: 0px 6px;
  z-index: 10;
  top: 0px;
  left: 6px;
  color: $orange_bistre;
  font-size: $fontsize-l;
}

.text {
  margin: 32px 30px 32px;
  font-size: $fontsize-s;
}

.card-button {
  display: flex;
  justify-content: center;
  margin: 0px 32px 37px;
  line-height: 33.4px;
}
