@use "../../variables" as *;
.card-img {
  position: relative;
  margin-bottom: 32.73px;
}

.card-imgframe {
  z-index: 9;
  position: absolute;
  top: 0;
  border-bottom: 150px solid transparent;
  border-left: 150px solid $white;
}

.title {
  position: absolute;
  margin: 0px 6px;
  z-index: 10;
  top: 0px;
  left: 6px;
  color: $orange_bistre;
  font-size: 20px;
}

.text {
  margin: 32px;
  font-size: $fontsize-s;
}

.card-button {
  padding: 96px 32px;
  width: 37px;
  line-height: 33.4px;
}
