<div class="news">
  <div class="news-and-events-title">
    <h2>News<span class="caption">お知らせ</span></h2>
  </div>
  <ul class="news_list">
    <li class="news_list_item">
      <a href="">
        <div class="news_list_date">2018.06.20</div>
        <p class="news_item">
          ブックカフェ・コワーキング系サイト向けテーマ「Swit...
        </p>
      </a>
    </li>
    <li class="news_list_item">
      <a href="">
        <div class="news_list_date">2018.06.18</div>
        <p class="news_item">
          3種のレイアウトから選択できるテンプレートを固定ペ...
        </p>
      </a>
    </li>
    <li class="news_list_item">
      <a href="">
        <div class="news_list_date">
          <time>2018.06.12</time>
        </div>
        <p class="news_item">
          利用者からのご質問をまとめた「FAQ」ページをアップ...
        </p>
      </a>
    </li>
    <li class="news_list_item">
      <a href="">
        <div class="news_list_date">
          <time>2018.06.08</time>
        </div>
        <p class="news_item">
          デモ用のサンプルデータを表示する「インポート機能」...
        </p>
      </a>
    </li>
    <li class="news_list_item">
      <a href="">
        <div class="news_list_date">
          <time>2018.06.02</time>
        </div>
        <p class="news_item">テーマのアップデート情報について</p>
      </a>
    </li>
  </ul>
  <a href="#" class="news-and-events-more"
    >お知らせ一覧<i class="fas fa-chevron-right"></i
  ></a>
</div>
