@use "../../variables" as *;
.button {
  background-color: $black;
  display: inline-block;
  font-size: $small;
  color: $white;
  padding: 17.5px 74px 17.5px 74px;
  transition: 0.2s ease;
  text-decoration: none;
  &:hover {
    color: $white;
    background-color: $orange_bistre;
  }
  @media screen and (max-width: $breakpoint-lg) {
    padding: 17.5px 49px 17.5px 49px;
  }
  @media screen and (max-width: $breakpoint-md) {
    padding: 12.5px 64px 12.5px 64px;
  }
}
