@use "../../variables" as *;
.button {
  text-align: center;
  align-items: center;
  background-color: $black;
  display: inline-block;
  font-size: 14px;
  font-family: $fontfamily-gothic;
  color: $white;
  text-decoration: none;
  width: 200px;
  height: 55px;
  padding: 17.5px;
  transition: 0.2s ease;
  &:hover {
    color: $white;
    text-decoration: none;
    background-color: $orange_bistre;
  }
  transition: 0.2s ease;
  @media screen and (max-width: $breakpoint-lg) {
    width: 150px;
  }
  @media screen and (max-width: $breakpoint-md) {
    height: 45px;
    padding: 12.5px 0 12.5px 0;
    width: 180px;
  }
}
